:root {
    --safe-area-top: 0px;
    --safe-area-right: 0px;
    --safe-area-bottom: 0px;
    --safe-area-left: 0px;
}

#react-app {
    font-family: Mplus2-Regular_LABEL;
    position: absolute;
    top: var(--safe-area-top);
    right: var(--safe-area-right);
    bottom: var(--safe-area-bottom);
    left: var(--safe-area-left);
    display: block;
    pointer-events: none;
}

.test-head {
    color: white;
    text-align: center;
    font-size: clamp(12px, calc(1.25vw + 1rem), 2.4rem);
    margin: 0 20px 20px;
}

.test-toggle {
    display: block;
    width: 100px;
    margin: 0 auto 20px;
    pointer-events: auto;
}

.test-button {
    display: block;
    width: 100px;
    margin: 0 auto;
    pointer-events: auto;
}
