:root {
    --safe-area-top: 0px;
    --safe-area-right: 0px;
    --safe-area-bottom: 0px;
    --safe-area-left: 0px;
}

#react-app {
    font-family: Mplus2-Regular_LABEL;
    position: absolute;
    top: var(--safe-area-top);
    right: var(--safe-area-right);
    bottom: var(--safe-area-bottom);
    left: var(--safe-area-left);
    display: block;
    pointer-events: none;
}

.test-head {
    color: white;
    text-align: center;
    font-size: clamp(12px, calc(1.25vw + 1rem), 2.4rem);
    margin: 0 20px 20px;
}

div .test-button {
    width: 240px;
    height: 30px;
    margin: 20px auto;
}
div .test-button button{
    display: inline-block;
    width: 100px;
    height: 100%;
    margin: 0 10px;
    text-align: center;
    pointer-events: auto;
}

.test-input-head {
    color: white;
    text-align: center;
    font-size: clamp(8px, calc(0.6vw + 0.5rem), 1.2rem);
    margin: 10px auto;
}

.test-input {
    display: block;
    width: 200px;
    height: 20px;
    margin: 10px auto;
    pointer-events: auto;
}

.test-img {
    width: 256px;
    height: 256px;
    display: block;
    margin: 0 auto;
}
